@import "tailwindcss";
@import "@fontsource/iosevka-etoile";

#root {
  background-color: #734B2B;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding: 0px 10px;
  font-family: "Iosevka Etoile";
}

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 1px rgba(236, 216, 182, 0.1));
  }
  50% {
    filter: drop-shadow(0 0 7px rgba(236, 216, 182, 0.5));
  }
}

.animate-glow {
  animation: glow 3s ease-in-out infinite;
}